<div class="container business-container">

    <div class="row business hidden-tablet hidden-phone">
        <div class="span6 videobox">    
            <iframe src="http://player.vimeo.com/video/68488403" width="99%" height="400px" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            <span class="icebreaker hidden-tablet hidden-phone">
                <h2 class="top">BREAKING THE ICE </h2>
                <h2 class="bottom">IN THE MUSIC WORLD!</h2>
            </span>
        </div>
        <div class="span5">
            <div class="grill">
                <div class="registertext">
                    <p><%= image_tag 'e.png', align: 'left', class: 'e' %>xpand your business, customers and reach with your own new personalized and customizable web page... Placed right in the middle of your direct target market!</p>
                    <p>The world of MusicMelter creates a unique opportunity for musicians and artists to create and expand on their talents, where they can find you and your services to help get them there!</p>
                    <p>Expanding your business has never been easier!</p>
                </div>
            </div>
            <span width="75%">
            <%= link_to image_tag("register_button.png", class: "button center"), 'https://business.musicmelter.com/business_accounts/new' %>
            </span>
        </div>
    </div>


    <div class="row-fluid mobile-video business hidden-desktop"> 
        <iframe src="http://player.vimeo.com/video/68488403" width="100%" height="350px" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <div class="row-fluid business  hidden-phone">
        
    </div>
    <div class="row business">
        <div class="span12 boom-container">
        <h1 class="sharper-glow inset hidden-tablet hidden-phone">The newest way to boom your business!</h1>
        <h2 class="sharper-glow inset hidden-desktop hidden-phone">The newest way to boom your business!</h2>
        <h3 class="sharper-glow inset hidden-desktop hidden-tablet">The newest way to boom your business!</h2>
        </div>
    </div>
    <div class="business row-fluid hidden-desktop">
        <div class="span12">
            <div class="grill">
                <div class="registertext">
                    <div id="formtop"></div>
                    <p><%= image_tag 'e.png', align: 'left', class: "e" %>xpand your business, customers and reach with your own new personalized and customizable web page... Placed right in the middle of your direct target market!</p>
                    <p>The world of MusicMelter creates a unique opportunity for musicians and artists to create and expand on their talents, where they can find you and your services to help get them there!</p>
                    <p>Expanding your business has never been easier!</p>
                <%= image_tag "form-bottom-bar-617.png", id: "formbottom" %>
                </div>
            </div>
        </div>
    </div>
    
    <div class="business row-fluid hidden-desktop">
            <%= link_to image_tag("register_button.png", class: "button center"), 'https://business.musicmelter.com/business_accounts/new' %>
    </div>
    <footer>
        <div class="row">
            <div class="span12">
            <!-- bold copy placeholder -->
            </div>
            <div class="span12">
                <p class="copyright">&copy; 2013 MUSICMELTER.COM</p>
            </div>
        </div>
    </footer>
</div>