<%= form_for(@business_account) do |f| %>
<legend>Business Registration</legend>
  <% if @business_account.errors.any? %>
    <div class="warranty">
      <h2><%= pluralize(@business_account.errors.count, "error") %> </h2>

      <ul>
      <% @business_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="warranty">
  <h2 class="error_count"></h2>
  <ul class="user_error"></ul>
  </div> 
  <div class="field">
    <%= label_tag :name_first, "First Name" %>
    <%= f.text_field :name_first, placeholder: "First Name" %>
  </div>
  <div class="field">
        <%= label_tag :last_name, "Last Name" %>
    <%= f.text_field :name_last, placeholder: "Last Name" %>
  </div>
  <div class="field">
        <%= label_tag :business %>
    <%= f.text_field :business, placeholder: "Business Name" %>
  </div>
  <div class="field">
    <%= label_tag :email %>
    <%= f.text_field :email, placeholder: "Email", pattern: "[^ @]*@[^ @]*" %>
  </div>
  <div class="field">
    <%= label_tag :business_account, "Type of business" %>
    <%= select :business_account, :type, business_types %>
  </div>
    <div class="field">
       <%= label_tag :country, "Select your country" %>
       <%= image_tag 'signup/america.png', onclick: "show_us()", class: "murica" %> 
       <%= image_tag 'signup/canada.png', onclick: "show_ca()", class: "canada" %>
       <%= f.hidden_field :country %>
  </div>
   <div class="hide ca_fields">
    <div class="field">
      <%= label_tag :postal, "Postal Code" %>
      <%= f.text_field :postal, placeholder: "PostalCode",  maxlength: 7 %>
    </div>
    <div class="field">
      <%= label_tag :province %>
      <%= select :business_account, :province, canadian_provinces %>
    </div>
  </div>
  <div class="hide us_fields">
    <div class="field">
      <%= label_tag :zip %>
      <%= f.text_field :zip, placeholder: "Zip",  maxlength: 5 %>
    </div>
    <div class="field">
      <%= label_tag :state %>
      <%= select :business_account, :state, us_states %>
    </div>
  </div>
<legend>Price: <span id="offerprice">$600</span> </legend>
  <h4>Limited Time Offer: One Full Year!!!</h4>
   <div class="field">
      <%= label_tag :discount, class: "checkbox inline" do %>
      <%= check_box_tag("show_coupon") %> Have a discount code?
      <% end %>
   </div>
  <div id="coupon" class="hide">
        <%= f.text_field :coupon_code, placeholder: "Discount" %>
        <p class="hide discount-text discount_message"></p>
        <p class="discount-text"><i class="icon-key"></i> &nbsp; Lock this price in for 2 years</p>
     </div>
  <div><ul id="stripe_error"></ul></div>
  <div class="row">
    <div class="span4 centered">
      <div class="payments">
        <% if stripe_enabled? %>
        <a class="btn btn-primary" id="credit">Credit Card</a>
        <% end %>
        <% if paypal_enabled? %>
        <a class="btn btn-primary btn-inline" id="paypal">Pay Pal</a>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
 $('#credit').click(function(){
      var token = function(res){
        var $input = $('<input type=hidden name=business_account[stripe_token] />').val(res.id);
        $('form').append($input).submit();
      };

      StripeCheckout.open({
        key:         '<%= Rails.configuration.stripe[:publishable_key] %>',
        amount:      60000,
        currency:    'usd',
        name:        'Music Melter',
        description: 'Business Registration',
        panelLabel:  'Business Registration',
        token:       token
      });

      return false;
    });
</script>



<script type="text/javascript">
  var bac = $('#business_account_country').val();
  if (bac === "CA"){
    $('.ca_fields').show()
  } else {
    $('.us_fields').show()
  }

  function show_us() {
      $('.ca_fields').hide()
      $('.us_fields').show()
      $('#business_account_country').val('US')
    }
    function show_ca() {
      $('.ca_fields').show();
      $('.us_fields').hide();
      $('#business_account_country').val('CA')
    }
  



  $('#show_coupon').click(function(){$('#coupon').toggle()});

  //Coupon Code communication with API method bindings
  // Binds to the discount box on typing event, with a delay of 1sec
  var timeout = null;
  $('#business_account_coupon_code').on('keyup', function() {
    var that = this;
    if (timeout !== null) {
      clearTimeout(timeout);
    }
    timeout = setTimeout(function() {
      callAPI();
    }, 1000);
  });
  
  // ping the api with the coupon code. Only returns 200OK if the object is found, and is valid
  function callAPI(){
    $.ajax({
      url: "<%= coupon_validate_path %>",
      type: "get",
      data: "coupon_code=" + $('#business_account_coupon_code').val(),
      success: function(d) {
          $('.discount_message').empty().html('<i class="icon-thumbs-up"></i> Saved: $' + d.amount).show()
          $('#offerprice').empty().html('$' + (<%= us_price %> - d.amount) ).show();
      },
      error: function(d) {
        if (d.status === 404){
          $('.discount_message').empty().html('<i class="icon-thumbs-down"></i>NotFound - <small>CaseSenSiTiVe</small>').show()
          if ($('#business_account_country').val() === "US") {
            $('#offerprice').empty().html('$' + <%= us_price %> ).show();
          } else {
            $('#offerprice').empty().html('$' + <%= ca_price %>).show();
          }
        }
      }
    })
  }
  

  //   $('#business_account_country').val('US')
  // }
  // function show_ca(){
  //   $('.ca_fields').show();
  //   $('.us_fields').hide();
  //   $('#business_account_country').val('CA') 
  // }
  </script>

