<%= form_for(@business_account) do |f| %>
<legend>Business Registration</legend>
  <% if @business_account.errors.any? %>
    <div class="warranty">
      <h2><%= pluralize(@business_account.errors.count, "error") %> </h2>

      <ul>
      <% @business_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="warranty">
  <h2 class="error_count"></h2>
  <ul class="user_error"></ul>
  </div> 
  <div class="field">
    <%= label_tag :name_first, "First Name" %>
    <%= f.text_field :name_first, placeholder: "First Name" %>
  </div>
  <div class="field">
        <%= label_tag :last_name, "Last Name" %>
    <%= f.text_field :name_last, placeholder: "Last Name" %>
  </div>
  <div class="field">
        <%= label_tag :business %>
    <%= f.text_field :business, placeholder: "Business Name" %>
  </div>
  <div class="field">
    <%= label_tag :email %>
    <%= f.text_field :email, placeholder: "Email", pattern: "[^ @]*@[^ @]*" %>
  </div>
  <div class="field">
    <%= label_tag :business_account, "Type of business" %>
    <%= select :business_account, :type, business_types %>
  </div>
    <div class="field">
       <%= label_tag :country, "Select your country" %>
       <%= image_tag 'signup/america.png', onclick: "show_us()", class: "murica" %> 
       <%= image_tag 'signup/canada.png', onclick: "show_ca()", class: "canada" %>
       <%= f.hidden_field :country %>
  </div>
   <div class="hide ca_fields">
    <div class="field">
      <%= label_tag :postal, "Postal Code" %>
      <%= f.text_field :postal, placeholder: "PostalCode",  maxlength: 7 %>
    </div>
    <div class="field">
      <%= label_tag :province %>
      <%= select :business_account, :province, canadian_provinces %>
    </div>
  </div>
  <div class="hide us_fields">
    <div class="field">
      <%= label_tag :zip %>
      <%= f.text_field :zip, placeholder: "Zip",  maxlength: 5 %>
    </div>
    <div class="field">
      <%= label_tag :state %>
      <%= select :business_account, :state, us_states %>
    </div>
  </div>
<legend>Price: <span id="offerprice">$600</span> </legend>
  <h4>Limited Time Offer: One Full Year!!!</h4>
   <div class="field">
      <%= label_tag :discount, class: "checkbox inline" do %>
      <%= check_box_tag("show_coupon") %> Have a discount code?
      <% end %>
   </div>
  <div id="coupon" class="hide">
        <%= f.text_field :coupon_code, placeholder: "Discount" %>
        <p class="hide discount-text discount_message"></p>
        <p class="discount-text"><i class="icon-key"></i> &nbsp; Lock this price in for 2 years</p>
     </div>
  <div><ul id="stripe_error"></ul></div>
  <div class="row">
    <div class="span4 centered">
      <div class="payments">
        <% if stripe_enabled? %>
        <a class="btn btn-primary" id="credit">Credit Card</a>
        <% end %>
        <% if paypal_enabled? %>
        <a class="btn btn-primary btn-inline" id="paypal">Pay Pal</a>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">

  <!-- DOM Storage for price -->
  sessionStorage.setItem("usprice", <%= us_price %>);
  sessionStorage.setItem("caprice", <%= ca_price %>);
  sessionStorage.setItem("redeem", false)
  
  function get_country() {
    $('#business_account_country').val()
  }
  


 $('#credit').click(function(){
      var token = function(res){
        var $input = $('<input type=hidden name=business_account[stripe_token] />').val(res.id);
        $('form').append($input).submit();
      };

      //stripe charges are in pennies
      stripe_price = sessionStorage.getItem("usprice") * 100;
      stripe_currency = 'usd'

      if (get_country() === "CA"){
        stripe_price = sessionStorage.getItem("caprice") * 100;
        stripe_currency = 'cad';
      } 
      
      StripeCheckout.open({
        key:         '<%= Rails.configuration.stripe[:publishable_key] %>',
        amount:      stripe_price,
        currency:    stripe_currency,
        name:        'Music Melter',
        description: 'Business Registration',
        panelLabel:  'Business Registration',
        token:       token
      });

      return false;
    });

  var bac = $('#business_account_country').val();
  if (bac === "CA"){
    $('.ca_fields').show();
  } else {
    $('.us_fields').show();
  }

  function show_us() {
      $('.ca_fields').hide()
      $('.us_fields').show()
      $('#business_account_country').val('US');
    }
    function show_ca() {
      $('.ca_fields').show();
      $('.us_fields').hide();
      $('#business_account_country').val('CA');
    }
    
 



  $('#show_coupon').click(function(){$('#coupon').toggle()});

  //Coupon Code communication with API method bindings
  // Binds to the discount box on typing event, with a delay of 1sec
  var timeout = null;
  $('#business_account_coupon_code').on('keyup', function() {
    var that = this;
    if (timeout !== null) {
      clearTimeout(timeout);
    }
    timeout = setTimeout(function() {
      callAPI();
    }, 1000);
  });
  
  // ping the api with the coupon code. Only returns 200OK if the object is found, and is valid
  function callAPI(){
    $.ajax({
      url: "<%= coupon_validate_path %>",
      type: "get",
      data: "coupon_code=" + $('#business_account_coupon_code').val(),
      success: function(d) {
        do_success(d);
      },
      error: function(d) {
        if (d.status === 404){
          update_price('<i class="icon-thumbs-down"></i>NotFound - <small>CaseSenSiTiVe</small>', $('.discount_message'))
          if (get_country() === "US") {
            update_price('$' + sessionStorage.getItem("usprice"), $('#offerprice'));
          } else {
            update_price('$' + sessionStorage.getItem("caprice"), $('#offerprice'));
          }
        }
      }
    })
  }
  
  /* This got big and unwiedly fast - so i stuck it down here to make it slightly easier to read */
  function do_success(d) {
        usprice = sessionStorage.getItem("usprice")
        caprice = sessionStorage.getItem("caprice")
        redeemed = sessionStorage.getItem("redeem")
        if(redeemed){
          if(get_country() === "CA"){
            updatePrice('<i class="icon-thumbs-up"></i> Saved: $' + d.amount, $('.discount_message'))
            updatePrice('$' + (caprice - d.amount), $('#offerprice'))
          } else {
            updatePrice('<i class="icon-thumbs-up"></i> Saved: $' + d.amount, $('.discount_message'))
            updatePrice('$' + (usprice - d.amount), $('#offerprice'))
          }
          sessionStorage.setItem("caprice", caprice - d.amount)
          sessionStorage.setItem("usprice", usprice - d.amount)
        }
  }

  function updatePrice(content, element){
    element.empty().html(content).show();
  }

  </script>

