<%= form_for(@business_account) do |f| %>
<legend>Business Registration</legend>
  <% if @business_account.errors.any? %>
    <div class="warranty">
      <h2><%= pluralize(@business_account.errors.count, "error") %> </h2>

      <ul>
      <% @business_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="warranty">
  <h2 class="error_count"></h2>
  <ul class="user_error"></ul>
  </div> 
  <div class="field">
    <%= label_tag :name_first, "First Name" %>
    <%= f.text_field :name_first, placeholder: "First Name" %>
  </div>
  <div class="field">
        <%= label_tag :last_name, "Last Name" %>
    <%= f.text_field :name_last, placeholder: "Last Name" %>
  </div>
  <div class="field">
        <%= label_tag :business %>
    <%= f.text_field :business, placeholder: "Business Name" %>
  </div>
  <div class="field">
    <%= label_tag :email %>
    <%= f.text_field :email, placeholder: "Email", pattern: "[^ @]*@[^ @]*" %>
  </div>
  <div class="field">
    <%= label_tag :business_account, "Type of business" %>
    <%= select :business_account, :type, business_types %>
  </div>
  <div class="countryselector row">
    <div width="100%" class="centered">
      <%= image_tag 'signup/america.png', onclick: "show_us()" %> 
      <%= image_tag 'signup/canada.png', onclick: "show_ca()" %>
      <%= f.hidden_field :country %>
    </div>
  </div>
   <div class="hide ca_fields">
    <div class="field">
      <%= f.text_field :postal, placeholder: "PostalCode",  maxlength: 7 %>
    </div>
    <div class="field">
      <%= select :business_account, :province, canadian_provinces %>
    </div>
  </div>
  <div class="hide us_fields">
    <div class="field">
      <%= f.text_field :zip, placeholder: "Zip",  maxlength: 5 %>
    </div>
    <div class="field">
      <%= select :business_account, :state, us_states %>
      <%= f.hidden_field :stripe_token %>
    </div>
  </div>
<legend>Price: $600</legend>
  <div><ul id="stripe_error"></ul></div>
  <%= f.fields_for :payment do |q|  %>
    <div class="field">
    <%= label_tag :card_number, "Credit Card Number " %>
    <%= text_field_tag :card_number, nil, name: nil %>
    </div>
    <div class="field">
        <%= label_tag :card_code, "Security Code on Card (CVV)" %>
        <%= text_field_tag :card_code, nil, name: nil %>
    </div>
    <div class="field row-fluid">
      <%= label_tag :card_month, "Card Expiration" %>
      <div class="offset1 span5"><%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month"}%></div>
      <div class="span5"><%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}%></div>
    </div>
  <% end %>
    <div class="field">
      <%= label_tag :discount, "Have A Discount Code?" %>
      <%= check_box_tag("show_coupon") %>
    </div>
    <div id="coupon" class="hide">
      <%= label_tag :coupon_code, "Discount Code" %>
        <%= f.text_field :coupon_code, placeholder: "Secret Code" %>
     </div>
    <div class="actions"><%= image_submit_tag "signup/get-started-button.png",  class: "centered" %></div>
<% end %>



<script type="text/javascript">
  function show_us(){
    $('.ca_fields').hide();
    $('.us_fields').show();
    $('#business_account_country').val('US')
  }
  function show_ca(){
    $('.ca_fields').show();
    $('.us_fields').hide();
    $('#business_account_country').val('CA') 
  }
  </script>

