<%= form_for(@business_account) do |f| %>
<legend>Business Registration</legend>
  <% if @business_account.errors.any? %>
    <div class="warranty">
      <h2><%= pluralize(@business_account.errors.count, "error") %> </h2>

      <ul>
      <% @business_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :name_first, placeholder: "First Name" %>
  </div>
  <div class="field">
    <%= f.text_field :name_last, placeholder: "Last Name" %>
  </div>
  <div class="field">
    <%= f.text_field :business, placeholder: "Business Name" %>
  </div>
  <div class="field">
    <%= f.text_field :email, placeholder: "Email", pattern: "[^ @]*@[^ @]*" %>
  </div>
  <div class="field">
    <%= select :business_account, :type, business_types %>
  </div>
  <div class="countryselector row">
    <div width="100%" class="centered">
      <%= image_tag 'signup/america.png', onclick: "show_us()" %> 
      <%= image_tag 'signup/canada.png', onclick: "show_ca()" %>
    </div>
  </div>
   <div class="hide ca_fields">
    <div class="field">
      <%= f.text_field :postal, placeholder: "PostalCode",  maxlength: 7 %>
    </div>
    <div class="field">
      <%= select :business_account, :province, canadian_provinces %>
    </div>
  </div>
  <div class="hide us_fields">
    <div class="field">
      <%= f.text_field :zip, placeholder: "Zip",  maxlength: 5 %>
    </div>
    <div class="field">
      <%= select :business_account, :state, us_states %>
    </div>
  </div>

  <%= f.fields_for :payment do |q|  %>
      <%= render "shared/stripe/cc_form",:f => q %>    
    <% end %>
<% end %>



<script type="text/javascript">
  function show_us(){
    $('.ca_fields').hide();
    $('.us_fields').show();
  }
  function show_ca(){
    $('.ca_fields').show();
    $('.us_fields').hide();
  }
  </script>

