<%= form_for(@business_account) do |f| %>
<legend>Business Registration</legend>
  <% if @business_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_account.errors.count, "error") %> prohibited your registration from being saved:</h2>

      <ul>
      <% @business_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name_first, placeholder: "First Name" %>
  </div>
  <div class="field">
    <%= f.text_field :name_last, placeholder: "Last Name" %>
  </div>
  <div class="field">
    <%= f.text_field :business, placeholder: "Business Name" %>
  </div>
  <div class="field">
    <%= f.text_field :email, placeholder: "Email", pattern: "[^ @]*@[^ @]*" %>
  </div>
  <div class="field">
    <%= f.text_field :phone, placeholder: "Phone", type: "tel" %>
  </div>
  <div class="field">
    <%= f.text_field :address, placeholder: "Address" %>
  </div>
  <div class="field">
    <%= f.text_field :zip, placeholder: "Zip", pattern: "[0-9]*" %>
  </div>
  <div class="field">
    <%= f.text_field :city, placeholder: "City" %>
  </div>
  <div class="field">
    <%= select_tag :state, options_for_select(us_states) %>
  </div>
  <div class="field">
    <%= select_tag :type, options_for_select(business_types) %>
  </div>
  <div class="actions">
    <%= image_submit_tag "signup/open-up-shop-button.png", class: "centered" %>
  </div>
<% end %>
