

<div class="container">
    <div class="row">
        <div class="span4 formglow">
            <div class="formbox">
                <%= render 'form' %>
                <p />
                <p ><%= link_to "Privacy Policy", url_for(terms_privacy_url), class: "terms" %>
                <%= link_to "Refund Policy", url_for(terms_refund_url), class: "terms pull-right" %></p>
            </div>
        </div>

        <div class="span7 pull-right">
            <div class="row">
                <%= image_tag 'signup/wanted.png' , width: "600", height: "auto" %>
            </div>
            <div class="row">
                <%= image_tag 'signup/buy-and-sell.png', width: "600", height: "auto" %>
            </div>
            <div class="row">
                <%= image_tag 'signup/profiles.png', width: "600", height: "auto" %>
            </div>
            <div class="row">
                <%= image_tag 'signup/search-and-find.png', width: "600", height: "auto" %>
            </div>

        </div>
    </div>
</div>

</footer>

</footer>