<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "Error") %></h2>
    </div>
  <% end %>
  <legend><%= image_tag "register_now.png", class: "headlogo" %>
</legend>
  <div class="control-group">
    <%= label_tag :name, "Name", class: 'control-label' %>
    <div class='controls'>
      <%= f.text_field :name, placeholder: "Name" %>
      <% if @user.errors[:name] %>
        <span class="help-block"><%= @user.errors[:name][0] %></span>
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :age, "Age", class: 'control-label' %>
    <div class='controls'>
      <%= f.text_field :age, placeholder: "Age", maxlength: 3 %>
      <% if @user.errors[:name] %>
        <span class="help-block"><%= @user.errors[:age][0] %></span>
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :name, "Musical Talent", class: 'control-label' %>
    <div class="control-grid">
      <div class='controls'>
        <div>
          <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'vocals', false, id: 'vocals' %> Vocals<% end %>
          <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'Guitar', false %> Guitar<% end %>
        </div>
        <div>
           <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'Drums', false %> Drums<% end %>
          <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'Bass', false %>Bass<% end %>
        </div>
        <div>
          <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'Keys', false %>Keys <% end %>
          <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'Strings', false %>Strings<% end %>
        </div>
        <div>
          <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'Woodwind', false %>Woodwind<% end %>
          <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'Brass', false %>Brass<% end %>
        </div>
        <div>
          <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'Synth', false %>Synth<% end %>
          <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'Band', false %>Band<% end %>
        </div>
        <div>
          <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'Rapper', false %>Rapper<% end %>
          <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'DJ', false %>DJ<% end %>
      </div>
      <div>
        <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'Other', false %>Other<% end %>
        <p />
        <%= f.text_field :talent, placeholder: "Other", class: "hidden", id: "hidden-other" %>
      </div>
    </div>
  </div>
  </div>
  <div class="buffer"></div>

 <div class="control-group">
       <%= label_tag :country, "Select your country" %>
       <%= image_tag 'us_flag.png', onclick: "show_us()", class: "murica" %> 
       <%= image_tag 'ca_flag.png', onclick: "show_ca()", class: "canada" %>
       <%= f.hidden_field :country, value: "US" %>
       <% if @user.errors[:country] %>
        <span class="help-block"><%= @user.errors[:country][0] %></span>
      <% end %>
  </div>
    <div class="control-group">
      <div class="hide ca_fields">
      <%= label_tag :postal, "Postal Code", class: "control-label" %>
      </div>
      <div class="us_fields">
        <%= label_tag :postal, "Zip Code", class: "control-label" %>
      </div>
      <div class="controls">
        <%= f.text_field :postal, placeholder: "PostalCode",  maxlength: 7 %>
        <% if @user.errors[:postal] %>
          <span class="help-block"><%= @user.errors[:postal][0] %></span>
        <% end %>
      </div>
    </div>
    <div class="hide ca_fields">
    <div class="control-group">
      <%= label_tag :province, "Province", class: "control-label" %>
      <div class="controls">
        <%= select :user, :province, canadian_provinces %>
        <% if @user.errors[:province] %>
          <span class="help-block"><%= @user.errors[:province][0] %></span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="us_fields">
    <div class="control-group">
      <%= label_tag :state, "State", class: "control-label" %>
      <div class="controls">
        <%= select :user, :state, us_states %>
        <% if @user.errors[:state] %>
          <span class="help-block"><%= @user.errors[:state][0] %></span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="control-group">
      <%= label_tag :email, "Email", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :email, placeholder: "Email" %>
        <% if @user.errors[:email] %>
          <span class="help-block"><%= @user.errors[:email][0] %></span>
        <% end %>
      </div>
    </div>




  <div class="actions">
     <%= image_submit_tag "signup/subscribe.png", id: "Register" %> 
  </div>
<% end %>

<script>

  function show_us() {
      $('.ca_fields').hide()
      $('.us_fields').show()
      $('#user_country').val('US');
    }
    function show_ca() {
      $('.ca_fields').show();
      $('.us_fields').hide();
      $('#user_country').val('CA');
    }
</script>