<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "Error") %></h2>
    </div>
  <% end %>
  <div class="control-group">
    <%= label_tag :name, "Name", class: 'control-label' %>
    <div class='controls'>
      <%= f.text_field :name, placeholder: "Name" %>
      <% if @user.errors[:name] %>
        <span class="help-block"><%= @user.errors[:name][0] %></span>
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :age, "Age", class: 'control-label' %>
    <div class='controls'>
      <%= select :user, :age, age_values %>
      <% if @user.errors[:name] %>
        <span class="help-block"><%= @user.errors[:age][0] %></span>
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :name, "Musical Talent", class: 'control-label' %>
    <div class='controls'>
      
      <div>
        <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'vocals' %> Vocals<% end %>
        <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'Guitar' %> Guitar<% end %>
        <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'Drums' %> Drums<% end %>
      </div>
      <div>
        <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'Bass' %>Bass<% end %>
        <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'Keys' %>Keys <% end %>
        <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'Strings' %>Strings<% end %>
      </div>
      <div>
        <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'Woodwind' %>Woodwind<% end %>
        <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'Brass' %>Brass<% end %>
        <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'Synth' %>Synth<% end %>
      </div>

      <div>
        <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'Band' %>Band<% end %>
        <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'Rapper' %>Rapper<% end %>
        <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'DJ' %>DJ<% end %>
      </div>

      <div>
        <%= label_tag 'talent', class: 'checkbox inline no_indent' do %><%= check_box_tag 'talent', 'Other' %>Other<% end %>
        <p />
        <%= f.text_field :talent, placeholder: "Other" %>
      </div>
    </div>

  </div>
  <div class="buffer"></div>

 <div class="control-group">
       <%= label_tag :country, "Select your country" %>
       <%= image_tag 'signup/america.png', onclick: "show_us()", class: "murica" %> 
       <%= image_tag 'signup/canada.png', onclick: "show_ca()", class: "canada" %>
       <%= f.hidden_field :country, value: "US" %>
       <% if @user.errors[:country] %>
        <span class="help-block"><%= @user.errors[:country][0] %></span>
      <% end %>
  </div>
   <div class="hide ca_fields">
    <div class="control-group">
      <%= label_tag :postal, "Postal Code", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :postal, placeholder: "PostalCode",  maxlength: 7 %>
        <% if @user.errors[:postal] %>
          <span class="help-block"><%= @user.errors[:postal][0] %></span>
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :province, "Province", class: "control-label" %>
      <div class="controls">
        <%= select :user, :province, canadian_provinces %>
        <% if @user.errors[:province] %>
          <span class="help-block"><%= @user.errors[:province][0] %></span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="us_fields">
    <div class="control-group">
      <%= label_tag :postal, "Zip Code", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :postal, placeholder: "Zip",  maxlength: 5 %>
        <% if @user.errors[:postal] %>
          <span class="help-block"><%= @user.errors[:postal][0] %></span>
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :state, "State", class: "control-label" %>
      <div class="controls">
        <%= select :user, :state, us_states %>
        <% if @user.errors[:state] %>
          <span class="help-block"><%= @user.errors[:state][0] %></span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="control-group">
      <%= label_tag :email, "Email", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :email, placeholder: "Email" %>
        <% if @user.errors[:email] %>
          <span class="help-block"><%= @user.errors[:state][0] %></span>
        <% end %>
      </div>
    </div>




  <div class="actions">
     <%= image_submit_tag "signup/subscribe.png", id: "Register" %> 
  </div>
<% end %>

<script>

  function show_us() {
      $('.ca_fields').hide()
      $('.us_fields').show()
      $('#user_country').val('US');
    }
    function show_ca() {
      $('.ca_fields').show();
      $('.us_fields').hide();
      $('#user_country').val('CA');
    }
</script>