<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Music Melter" %></title>
    <meta name="description" content="">
    <meta name="author" content="Groovy Object LLC">
    
    <!-- Styles styles and more styles -->
    <link rel="stylesheet" type="text/css" href="//releases.flowplayer.org/5.4.3/skin/minimalist.css">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">

    <!-- Header Javascripts -->
    <%= javascript_include_tag "application" %>
    <%= render "shared/google_analytics" %>

    <%= csrf_meta_tags %>
    <%= yield(:head) %>

  </head>
  <body>
      <%= render "layouts/video_header" %>
      <%= yield %>


  </body>
</html>