<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Music Melter" %></title>
    <meta name="description" content="">
    <meta name="author" content="Groovy Object LLC">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <%= render "shared/google_analytics" %>
    <script type="text/javascript">
    Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
  </script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="hidden-phone hidden-tablet">
          <%= image_tag 'mm-header.png' %>
      </div>
      <div class="hidden-desktop">
          <%= image_tag 'mm-header-mobile.png' %>
      </div>
    </header>
      <%= yield %>


  </body>
</html>